.busnumber{
  width:70%;
  float:left;
  display: flex;
}
  .bus{
    font-size: 1.5em;
    font-weight: 300;
    padding-right:.2em;
  }
  .number{
    font-size: 1.5em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:100%;
  }
.cost{
  font-size: 1.3em;
  font-weight: 300;
}
.info{
  display: inline-block;
  line-height: 1.6em;
}
.big{
  font-size: 1.3em;
}
.SML{
  font-size: .8em;
}
.flex{
  display: flex;
}
.inactive{
  color:#B2B2B2;

}
.busline2{
  display: flex;
}
.busstop{
  text-align: left;
  width:90%;
  float: left;
}
a.active p.lightBtn{
  font-size: 1em;
  font-weight: 600;
  color: #D8D8D8;
  padding:.5em 0 ;
}
a.active h3.Stop{
    width:64%;
    float: left;
}

a.active p.selected{
  font-weight: 600;
  color: #26CFE6;
}
a.active h3{
  width:100%;
  font-size: 1.3em;
  font-weight: 600;
  color:#151F47;
}

a.active p{
  color:#151F47;
}

a.active div.busstop{

}

.timelist{
  margin-top: 1em;
}
ul.timelist li{
  margin:0 .2em;
}
.time{
  font-size: 1.3em;
}
/* ---------- SHAPES ----------*/
.circle {
  height: 16px;
  width: 17px;
  background-color: #29A9CF;
  border-radius: 50%;
  position: relative;
    left:-21px;
    top:-4px;
    z-index: inherit;
  border: 4px solid white;
}
.rectangle {
  height: 70px;
  width: 18px;
  background-color: #29A9CF;
}
.line {
  height: 1em;
  width: 1px;
  background-color: #b2b2b2;
}
a.passed span.rectangle {
  height:70px;
  width: 18px;
  background-color: #B2B2B2;
}
a.passed span.circle {
  height: 16px;
  width: 17px;
  background-color: #b2b2b2;
  border-radius: 50%;
  position: relative;
    left:-21px;
    top:-4px;
  border: 4px solid white;
}

a.active span.circle{
  background-color: #26CFE6;
  width: 17px;
}
a.active span.rectangle{
  height: 200px;
  width: 18px;
  background-color: #29A9CF;

}

.last{
  position: relative;
    left:-3px;
    top:-4px;
    z-index: inherit;
}
.approach{
  height: 3em;
  /*float:left;*/
  position: relative;
    left:-8px;
    top:540px;
  z-index: 88;
}

/* ------- Buttons ------- */
.go{
  border: none;
  border-radius: 12px;
  padding: 8px 12px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
  font-weight: 300;
}
.hilighted{
  background-color: #94D04F;
  color: white;
  margin:.5em;
}

a.active button.inactive{
  background-color: white;
  margin:.5em;
  padding:0;
  color:#b2b2b2;
  font-size: 1.5em;
}
div.last span.rectangle{
height:2px;
width:20px;
}

.med{
  font-size: 1em;
  font-weight: 300;
  padding:none;
}

@media screen and (max-width: 355px) {
  .approach{
      top:540px;
  }
  a.active h3.Stop{
    font-size: 1.7em;
  }
  .time{
    line-height: 2em;
    font-size: 1.8em;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  ul.timelist li{
    margin:0 .3em;
  }
  /*Buttons*/
  a.active p.lightBtn{
    font-size: 1.2em;
  }
  button img.goIcnSml{
    display: inline;
  }
  .go{
    width:90%;
    height:2em;
    font-size: 1.2em;
  }
  /*Shapes*/
  a.active span.rectangle{
    height: 430px;
  }
}

@media screen and (min-width:500px){
  .route{
    padding:0 15%;
  }
  
}
@media screen and (min-width:600px){
  .route{
    padding:0 20%;
  }
}

@media screen and (min-width:700px){
  .route{
    padding:0 25%;
  }
}
@media screen and (min-width: 900px) {
  .route{
    padding:0 24%;
  }
  a.active p.lightBtn{
    font-size: 1.6em;
  }
  a.active h3{
    font-size: 2em;
    line-height: 1.25em;

  }
  .time{
    font-size: 1.7em;
  }
  .med{
    font-size: 1.4em;
  }
  .big{
    font-size: 1.5em;
  }
  .go{
    font-size: 1.5em;
  }
  a.active button.inactive{
    padding:8px 0 ;
    width:7em;
  }
  /*Shapes*/
  a.active span.rectangle{
    height: 350px;
  }


}

@media screen and (min-width: 1500px) {
  .route{
    padding:0 50%;
  }
}
